<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>YouToDo</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <img src="/static/Y0uToDo.png"
  <div id="add_end">
    <h1>When Do You Want To Stop Working Today?</h1>
    <form method="POST">
      <div class="form__fieldset">
        <label for="hour" class="form__label">Hour:</label>
        <input type="number" name="hour" id="hour" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="min" class="form__label">Minute:</label>
        <input type="number" name="min" id="min" class="form__input" />
      </div>


      <div class="form__fieldset">
        <label for="Add End"></label><input class="form__submit form__input" type="submit" value="Add End" />


      </div>
    </form>
  </div>
  <div id="" add_events>
    <h1>Add New Event</h1>
    <form method="POST">
      <div class="form__fieldset">
        <label for="name" class="form__label">Name:</label>
        <input type="string" name="name" id="name" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="length" class="form__label">Length:</label>
        <input type="number" name="length" id="length" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="difficulty" class="form__label">Difficulty:</label>
        <input type="number" name="difficulty" id="difficulty" class="form__input" />

      </div>

      <div class="form__fieldset">
        <input class="form__submit form__input" type="submit" value="Add Event" />
      </div>
    </form>
  </div>
  <div class="form__fieldset">
    <a href="cool">    <input class="form__submit form__input"  value="Add All To Calendar" />
    </a>"
  </div>
</body>


</html>